<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title | default: metadata.title }}</title>
		<meta name="description" content="{{ description | default: metadata.description }}">

		{%- css "base" %}
		{% # Grouping base styles allows control of the order in which they are output %}
		{% include "public/css/fonts.css" %}
		{% include "public/css/colors.css" %}
		{% include "public/css/index.css" %}
		{% endcss %}

		{% comment %}
		{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
		{% endcomment %}

		{% # Render the CSS bundle using inlined CSS (for the fastest site performance in production)%}
		<style>{% getBundle "css" "base" %}</style>
		<style>{% getBundle "css" %}</style>

		{% # Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' %}
		{% comment %}
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
		{% endcomment %}

		{% # See https://github.com/daviddarnes/heading-anchors %}
		{%- js %}{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}{% endjs %}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>

			{% # Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ %}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- assign navPages = collections.all | eleventyNavigation %}
				{%- for entry in navPages %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}

				<li class="nav-item">
					<a href="https://thefocus.quest/">
						Blog
						{% css %}
						.nav-icon {
							display: inline-block;
							margin-left: 0.25em;
						}
						.nav-icon svg {
							width: .75em;
							height: .75em;
						}
						.nav-icon svg path {
							fill: var(--text-color-link);
						}
						{% endcss %}
						<span class="nav-icon">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3l0 82.7c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z"/></svg>
						</span>
					</a>
				</li>

				</ul>
			</nav>
		</header>

		<main id="skip">
			<heading-anchors>
				{{ content }}
			</heading-anchors>
		</main>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
